<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Thêm Bootstrap CSS -->
    <%- include('../layout/header') %>
        <%- include('../layout/navbar') %>

            <title>Sign Up - Online Pet Shop</title>
            <script src="/js/main.js"></script> <!-- Liên kết tệp JavaScript -->
</head>

<body>

    <main class="auth-form">
        <div class="container">
            <h2>Đăng ký </h2>
            <!-- <% if (error) { %>
                <div class="alert alert-danger"><%= error %></div>
            <% } %>
            
            <% if (success) { %>
                <div class="alert alert-success"><%= success %></div>
            <% } %> -->
            <form action="/auth/signup" method="POST" onsubmit="return validateForm()">
                <div class="form-group">
                    <label for="name">Họ và tên:</label>
                    <input type="text" id="name" name="name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">Mật khẩu:</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Nhập lại mật khẩu:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Đăng ký </button>
                <p>Bạn đã có tài khoản? <a href="/auth/login">Đăng nhập ở đây</a>.</p>
            </form>
        </div>
    </main>

    <!-- Thêm Bootstrap JS và jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap /4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script> <!-- Thêm tệp main.js -->
</body>
<%- include('../layout/footer') %>

</html>