<!-- product-item.ejs
<div class="product-item">
    <img src="<%= product.imageUrl %>" alt="<%= product.name %>" class="product-image">
    <div class="product-info">
        <h3 class="product-name"><%= product.name %></h3>
        <p class="product-price">$<%= product.price.toFixed(2) %></p>
        <p class="product-description"><%= product.description.substring(0, 100) %>...</p>
        <a href="/products/<%= product._id %>" class="view-detail">View Details</a>
        <% if (product.stock > 0) { %>
            <button class="add-to-cart" data-id="<%= product._id %>">Add to Cart</button>
        <% } else { %>
            <p class="out-of-stock">Out of Stock</p>
        <% } %>
    </div>
</div> -->
