<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Thêm Bootstrap CSS -->
    <%- include('../layout/header') %>
        <%- include('../layout/navbar') %>
</head>

<body>
    <h1 class="order-list__title">Danh Sách Đơn Hàng</h1>

    <% if (orders.length> 0) { %>
        <table class="order-list__table" border="1" cellpadding="5" cellspacing="0">
            <thead>
                <tr>
                    <th class="order-list__header">Ngày Đặt</th>
                    <th class="order-list__header">Tổng Tiền</th>
                    <th class="order-list__header">Trạng Thái</th>
                    <th class="order-list__header">Chi Tiết</th>
                </tr>
            </thead>
            <tbody>
                <% orders.forEach(order=> { %>
                    <tr class="order-list__row">
                        <td class="order-list__date">
                            <%= new Date(order.createdAt).toLocaleDateString() %>
                        </td>
                        <td class="order-list__total-price">
                            <%= order.totalPrice %> VND
                        </td>
                        <td class="order-list__status">
                            <%= order.status %>
                        </td>
                        <td class="order-list__details">
                            <a href="/user/order/<%= order._id %>" class="order-list__details-link">Xem Chi Tiết</a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <% } else { %>
            <p class="order-list__no-orders">Chưa có đơn hàng nào.</p>
            <% } %>

                <!-- Thêm Bootstrap JS và jQuery -->
                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap /4.5.2/js/bootstrap.min.js"></script>
                <script src="/js/main.js"></script> <!-- Thêm tệp main.js -->
</body>
<%- include('../layout/footer') %>

</html>